@import "Common";

.topicPanel {
    @extend .scrollableContainer;
    background-color: $blue-light;
    border: 1px $blue-sky solid;
    @apply p-1 rounded-xl;
}

.searchBar {
    @extend .white-rounded;
}

.requiredInput {
    @apply capitalize;

    span {
        @apply text-red-600;
    }
}
