@import "normalize.css";

@tailwind components;
@tailwind utilities;


.primary-icon {
    @apply text-[#1565c0] text-2xl;
}

.avatar {
    border: 3px solid #1565c0;
}

.scrollBar::-webkit-scrollbar {
    width: 6px;
}

.scrollBar::-webkit-scrollbar-track {
    border-radius: 12px;
}

.scrollBar::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122, 153, 217)), color-stop(0.72, rgb(73, 125, 189)), color-stop(0.86, rgb(28, 58, 148)));
    border-radius: 12px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    z-index: 1000;
}

[class^=swal2] {
    -webkit-tap-highlight-color: transparent;
    font-family: 'Mali', sans-serif;
}