@import "Common";

$container-max-height: 465px;
$max-height: 330px;

.container {
    @extend .white-rounded;
    max-height: $container-max-height;
}

.selectPanel {
    @extend .white-rounded;
}

.mainPanel {
    background-color: $blue-light;
    border-bottom: 10px solid $blue-light;
    border-top: 10px solid $blue-light;
    max-height: $max-height;
    min-height: calc($max-height - 30px);
    @apply rounded-[10px] overflow-y-auto;
}

.backBtn {
    @extend .btn-border;
    @apply mr-[10px];
}

.selectBox {
    @apply text-center w-full max-h-[40px];
}

.collectionPanel {
    @extend .scrollableContainer;
}

.gameRoom {
    border: 5px solid $white;
    background-color: $white;
    animation: scaleMe linear 0.3s;

    &:hover {
        border-color: $blue-sky;
    }
}

.gameCollection {
    @extend .gameRoom;
}

.selected {
    border-color: $blue-sky;
}

.avatarBorder {
    border: 2px solid $blue-sky;
    border-radius: 50%;
}

.iconAvatar {
    @apply w-[50px] h-[50px] flex items-center justify-center;
    @extend .avatarBorder;
}

.joinRoomMain {
    @apply h-[250px] rounded-xl w-full grid grid-cols-[1fr_auto_1fr] px-2 ;
    background-color: $blue-light;
    border-bottom: 10px solid $blue-light;
    border-top: 10px solid $blue-light;
}

.subPanel {
    @apply rounded-xl w-full flex flex-col items-center mx-auto;
    background-color: $white;
}