$tag-height: 24px;

.tag {
    height: $tag-height;
    @apply flex items-center border-[3px] border-solid border-[#e8e8e8] overflow-hidden outline-0 pr-[4px] pl-[10px] box-content rounded-[4px] bg-[#fafafa] leading-[22px] m-[2px] hover:border-[#8b8192];

    span {
        @apply overflow-hidden text-ellipsis whitespace-nowrap;
    }

    svg {
        @apply cursor-pointer text-[14px] p-[4px] hover:text-red-600;
    }
}
